{% extends 'index.html' %}

{% block content %}

    <div class="product-model">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Início</a></li>
                    <li class="active">Artesões</li>
                </ol>
            </div>
            <h2>Artesões</h2>
            <div class="col-md-9 product-model-sec">
                {% for artisan in artisans %}
                    <a href="{% url 'artisans:show_artisan_user' artisan.pk %}"><div class="product-grid">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="{{ artisan.photo }}" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="fa fa-file-text-o" aria-hidden="true"></span> Ver mais</button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>{{ artisan.name }}</h4>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    </div>
                {% endfor %}

        </div>
        <div class="rsidebar span_1_of_left">
            <section  class="sky-form">
                <div class="product_right">
                    <form action="?search=" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Artesao">
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
                      </span>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    </div>

{% endblock %}