{% extends 'index.html' %}
{% load static %}
{% block content %}

    <div class="ctn ctn--brown">
        <div class="flex align-items-center justify-space-between m-b-3@computer relative">
            <h1 class="ctn__title">
                Artesões
            </h1>

            <div class="card card--rt card--brown hide@mobile">
                <div class="card__content">
                    <form action="?search=" method="GET">
                        <div class="form-group inline-block">
                            <input type="text" name="search" class="form-group__input"
                                   placeholder="Pesquise artesões">
                        </div>

                        <input type="submit" class="btn-submit btn-submit--bright-brown inline-block m-l-2"
                               value="Pesquisar">
                    </form>
                </div>
            </div>

            <div class="btn-icon btn--brown search hide@computer">
                <img src="{% static 'images/magnify.svg' %}" alt=""/>
            </div>

        </div>


        <div class="img-grid">
            <div class="img-grid__wrapper">
                {% for artisan in artisans %}
                    <div class="img-grid__item">
                        <a href="{% url 'artisans:show_artisan_user' artisan.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artisan.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artisan.name }}</p>
                        </a>
                    </div>

                    <div class="img-grid__item">
                        <a href="{% url 'artisans:show_artisan_user' artisan.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artisan.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artisan.name }}</p>
                        </a>
                    </div>

                    <div class="img-grid__item">
                        <a href="{% url 'artisans:show_artisan_user' artisan.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artisan.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artisan.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card card--brown card--search wt--full hide@computer">
        <div class="card__content">
            <form action="?search=" method="GET" class="flex flex--column align-items-center wt--full">
                <div class="form-group">
                    <label class="form-group__label">Pesquise artesões</label>
                    <input type="text" name="search" class="form-group__input">
                </div>

                <input type="submit" class="btn-submit btn--brown" value="Pesquisar">
            </form>
        </div>
    </div>


{% endblock %}