.ctn {
  @each $query in x-small, x-small-l, small, small-l, medium, medium-l, large, x-large {
    @include to($query) {
      padding: 0.75em map_get($ctn-hor-padding, $query) 2.55em map_get($ctn-hor-padding, $query);
    }
  }
}

.ctn__title {
  font-size: 1.875em;

  &--centered {
    text-align: center;
  }
}

.ctn--brown {
  background: $brown;
}

.ctn--red {
  background: $red;
}

.ctn--blue {
  background: $blue;
}