.description {
  text-align: right;
}

.description__title {
  font-size: 1.5625em;
  font-weight: bold;
  //text-align: right;
}

.description__details {
  display: inline-block;
  background: $light-brown;
  max-width: 17.8125em;
  -webkit-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
}

.information__title{
  font-size: 1.5625em;
  font-weight: bold;
}

.information__details{
  display: inline-block;
  background: $light-brown;
  max-width: 17.8125em;
  -webkit-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);

  & *{
    display: block;
  }
}