.form-group__label {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 0.3125em;
}

.form-group__input {
  font-family: "Arvo", serif;
  padding: 0.3125em 0 0.3125em 0.1875em;
  font-size: 1rem;
  display: block;
  border: none;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21);
}

textarea.form-group__input { //used tag due Django form rendering
  width: 100%;
  height: 8.75em;
}
