.img__bg {
  padding: 0.6em;
  display: inline-block;

  &--red {
    background: rgba(114, 64, 59, 1);
    background: -moz-linear-gradient(left, rgba(114, 64, 59, 1) 0%, rgba(230, 130, 115, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114, 64, 59, 1)), color-stop(100%, rgba(230, 130, 115, 1)));
    background: -webkit-linear-gradient(left, rgba(114, 64, 59, 1) 0%, rgba(230, 130, 115, 1) 100%);
    background: -o-linear-gradient(left, rgba(114, 64, 59, 1) 0%, rgba(230, 130, 115, 1) 100%);
    background: -ms-linear-gradient(left, rgba(114, 64, 59, 1) 0%, rgba(230, 130, 115, 1) 100%);
    background: linear-gradient(to right, rgba(114, 64, 59, 1) 0%, rgba(230, 130, 115, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72403b', endColorstr='#e68273', GradientType=1);
  }

  &--yellow {
    background: rgba(163, 139, 97, 1);
    background: -moz-linear-gradient(left, rgba(163, 139, 97, 1) 0%, rgba(191, 163, 113, 1) 30%, rgba(255, 219, 149, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(163, 139, 97, 1)), color-stop(30%, rgba(191, 163, 113, 1)), color-stop(100%, rgba(255, 219, 149, 1)));
    background: -webkit-linear-gradient(left, rgba(163, 139, 97, 1) 0%, rgba(191, 163, 113, 1) 30%, rgba(255, 219, 149, 1) 100%);
    background: -o-linear-gradient(left, rgba(163, 139, 97, 1) 0%, rgba(191, 163, 113, 1) 30%, rgba(255, 219, 149, 1) 100%);
    background: -ms-linear-gradient(left, rgba(163, 139, 97, 1) 0%, rgba(191, 163, 113, 1) 30%, rgba(255, 219, 149, 1) 100%);
    background: linear-gradient(to right, rgba(163, 139, 97, 1) 0%, rgba(191, 163, 113, 1) 30%, rgba(255, 219, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a38b61', endColorstr='#ffdb95', GradientType=1);
  }
}

.img__file {
  will-change: transform;
  max-width: 70vw;
  transform: translate(-17px, -16px);
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29);
}

.img--main {
  .img__file {
    cursor: pointer;
    @include to(small-l) {
      max-width: 60vw;
    }

    @each $query in medium, medium-l {
      @include to($query) {
        max-width: 50vw;
      }
    }

    @each $query in large, x-large {
      @include to($query) {
        max-width: 35vw;
      }
    }
  }
}

.img-grid {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    display: inline-block;
    margin: 0 1em;

    img {
      height: 200px;
      width: 200px;
    }
  }
}