.crafts-artisan {
  margin-top: 16px;
}

.crafts {
  margin-top: 20px;
}

.description, .information {
  margin-top: 2em;
}

.description__details {
  margin-top: 10px;
  padding: 1em 2em;
  margin-right: -16px;
}

.information__details {
  margin-top: 10px;
  padding: 1em 2em;
  margin-left: -16px;
}