.ctn {
  &__title {
    margin: 1em 0;

    &--artifact {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    margin-bottom: 2em;
  }

  &--padded {
    padding: 1em;
  }
}

.img {
  margin-top: 1.25em;

  &--centered {
    text-align: center;
  }
}

.card {
  margin-top: 2em;

  &__content {
    padding: 1em 2em;
  }

  &--centered {
    text-align: center;
  }

  &--comment {
    .card__content {
      text-align: left;
    }
  }

  &--lt {
    &:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) {

      text-align: left;

      .card__content {
        margin-top: 0.625em;
        margin-left: -$ctn-hor-padding;
      }
    }

    &\@mobile {
      @each $query in small, small-l, medium, medium-l {
        @include to($query) {
          text-align: right;

          .card__content {
            margin-top: 0.625em;
            margin-left: -$ctn-hor-padding;
          }
        }
      }
    }

    &\@computer {
      @each $query in large, x-large {
        @include to($query) {
          text-align: left;

          .card__content {
            margin-top: 0.625em;
            margin-left: -$ctn-hor-padding;
          }
        }
      }
    }
  }

  &--rt {
    &:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) {

      text-align: right;

      .card__content {
        margin-top: 0.625em;
        margin-right: -$ctn-hor-padding;
      }
    }

    &\@mobile {
      @each $query in small, small-l, medium, medium-l {
        @include to($query) {
          text-align: right;

          .card__content {
            margin-top: 0.625em;
            margin-right: -$ctn-hor-padding;
          }
        }
      }
    }

    &\@computer {
      @each $query in large, x-large {
        @include to($query) {
          text-align: right;

          .card__content {
            margin-top: 0.625em;
            margin-right: -$ctn-hor-padding;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--centered {
    align-items: center;
  }

  &--column.&--centered {
    justify-content: center;
  }

  &\@large {
    @each $query in large, x-large, {
      @include to($query) {
        display: flex;
      }
    }
  }

  .flex-ch {

    &--half-wt {
      width: 50%; //todo: bug aqui nos 50%
    }

    &--centered {
      align-self: center;
    }
  }
}

//todo: revise layout alignment technique