.crafts-artisan {
  margin-top: 1em;
}

.crafts {
  margin-top: 1.25em;
}

.description, .information {
  margin-top: 2em;
}

.description__details {
  margin-top: 0.625em;
  padding: 1em 2em;
  margin-right: -1em;
}

.information__details {
  margin-top: 0.625em;
  padding: 1em 2em;
  margin-left: -1em;
}

.comment{
  margin-bottom: 3em;
}

.comments-title{
  margin-bottom: 1.25em;
}

.new-comment-title{
  font-size: 1.25rem;
  margin: 3em 0 1em 0;
}

.form-group{
  margin-bottom: 1em;
}

.submit-button{
  margin: 1.5em auto 1em;
}