$brown: #3B2724;
$light-brown: #513533;
$red: #600E1C;
$light-red: #BF1734;
$blue: #01A698;
$light-blue: #03D8BE;

$ctn-hor-padding: (
        small: 1em,
        small-l: 3em,
        medium: 3em,
        medium-l: 3em,
        large: 3em,
        x-large: 3em
)