{% load widget_tweaks %}

<!-- update User Modal -->
<div class="modal fade" id="update_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Novo Usuário</h4>
      </div>
      <div class="modal-body">


        <form method="POST">
          {% csrf_token %}

          {% for field in form_update %}
          <div class="form-group">
            <label for="{{field.auto_id}}" class="control-label">{{field.label}}</label>
            {% render_field field class="form-control" placeholder=field.label %}
          </div>
          {% endfor %}

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-success">Atualizar</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>