{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Projeto Artesão</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/appp.css' %}">
    <link rel="stylesheet" href=" {% static 'photoswipe/photoswipe.css' %}">
    <link rel="stylesheet" href="{% static 'photoswipe/default-skin/default-skin.css' %}">
</head>
<body>

<header class="header">
    <div class="header__logo">
        <span class="logo__img">ArtesãoNato</span>
    </div>
    {#    <ul>#}
    {#        <li class="active"><a href="{% url 'core:index' %}">Início</a></li>#}
    {#        <li class="grid"><a href="{% url 'artisans:list_artisan_users' %}">Artesões</a></li>#}
    {#        <li class="grid"><a href="{% url 'artifacts:list_artifacts_users' %}">Artesanatos</a></li>#}
    {#        <li class="grid"><a href="{% url 'core:about' %}">Sobre</a></li>#}
    {#    </ul>#}

        <div class="menu-btn">
            <span class="menu-btn__rect"></span>
            <span class="menu-btn__rect"></span>
            <span class="menu-btn__rect"></span>
            <span class="menu-btn__rect menu-btn__rect--diag"></span>
            <span class="menu-btn__rect menu-btn__rect--diag"></span>
        </div>

</header>

<div class="menu-wrapper">
    <div class="menu__bg"></div>
    <div class="menu">
        <ul class="menu__group">
            <li class="menu__item"><a href="{% url 'core:index' %}">Início</a></li>
            <li class="menu__item"><a href="{% url 'artisans:list_artisan_users' %}">Artesões</a></li>
            <li class="menu__item"><a href="{% url 'artifacts:list_artifacts_users' %}">Artesanato</a></li>
            <li class="menu__item"><a href="{% url 'core:about' %}">Sobre</a></li>
        </ul>
    </div>
</div>

<div class="dimmer"></div>

{% block content %}

{% endblock %}

{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/gsap/CSSPlugin.min.js' %}"></script>
<script src="{% static 'js/gsap/EasePack.min.js' %}"></script>
<script src="{% static 'js/gsap/TweenMax.min.js' %}"></script>

{#<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js"></script>#}

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/CSSPlugin.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/easing/EasePack.min.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>#}

{#<script src="{% static 'js/scrollmagic/uncompressed/plugins/animation.gsap.js' %}"></script>#}
{#<script src="{% static 'js/scrollmagic/uncompressed/plugins/jquery.ScrollMagic.js' %}"></script>#}
{#<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script>#}


<script src="{% static 'photoswipe/photoswipe.js' %}"></script>
<script src="{% static 'photoswipe/photoswipe-ui-default.js' %}"></script>


<script src="{% static 'js/appp.js' %}"></script>

{% block custom-js %}

{% endblock %}

</body>
</html>
