{% extends 'index.html' %}
{% load static %}
{% block content %}





    <div class="ctn ctn--brown">
        <div class="flex align-items-center justify-space-between m-b-3@computer relative">
            <h1 class="ctn__title">
                Artesões
            </h1>

            <div class="card card--rt card--brown hide@mobile">
                <div class="card__content">
                    <form action="?search=" method="GET">
                        <div class="form-group inline-block">
                            <input type="text" name="search" class="form-group__input"
                                   placeholder="Pesquise artesanatos">
                        </div>

                        <input type="submit" class="btn-submit btn--bright-brown inline-block m-l-2"
                               value="Pesquisar">
                    </form>
                </div>
            </div>

            <div class="btn-icon btn--brown search hide@computer">
                <img src="{% static 'images/magnify.svg' %}" alt=""/>
            </div>

        </div>


        <div class="img-grid">
            <div class="img-grid__wrapper">
                {% for artifact in artifacts %}
                    <div class="img-grid__item">
                        <a href="{% url 'artifacts:show_artifact_user' artifact.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artifact.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artifact.name }}</p>
                        </a>
                    </div>

                    <div class="img-grid__item">
                        <a href="{% url 'artifacts:show_artifact_user' artifact.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artifact.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artifact.name }}</p>
                        </a>
                    </div>

                    <div class="img-grid__item">
                        <a href="{% url 'artifacts:show_artifact_user' artifact.pk %}">
                            <div class="img img--centered@mobile">
                                <div class="img__bg img__bg--red">
                                    <img class="img__file" src="{{ artifact.photo }}"/>
                                </div>
                            </div>
                            <p class="text-center">{{ artifact.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div class="card card--brown card--lt">

            <div class="card__content">
                <h3>Categorias</h3>
                {% for category in categories %}
                    <ul class="place">
                        <li class="sort"><a href="?order_by=categoria&order={{ category.pk }}">{{ category.name }}</a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>

                    {% for sub_category in category.sub_category_set.all %}
                        <p> abc{{ sub_category.name }}</p>
                    {% endfor %}

                {% endfor %}
                <h3>Subcategorias</h3>
                {#                {% for sub_category in sub_categories %}#}
                {#                    <ul class="place">#}
                {#                        <li class="sort"><a#}
                {#                                href="?order_by=sub_categoria&order={{ sub_category.pk }}">{{ sub_category.name }}</a>#}
                {#                        </li>#}
                {#                        <div class="clearfix"></div>#}
                {#                    </ul>#}
                {#                {% endfor %}#}
                {#                <h3>Materiais</h3>#}
                {#                {% for material in materials %}#}
                {#                    <ul class="place">#}
                {#                        <li class="sort"><a href="?order_by=material&order={{ material.pk }}">{{ material.name }}</a>#}
                {#                        </li>#}
                {#                        <div class="clearfix"></div>#}
                {#                    </ul>#}
                {#                {% endfor %}#}
            </div>
        </div>


    </div>

    <div class="card card--brown card--search wt--full hide@computer">
        <div class="card__content">
            <form action="?search=" method="GET" class="flex flex--column align-items-center wt--full">
                <div class="form-group">
                    <label class="form-group__label">Pesquise artesanatos</label>
                    <input type="text" name="search" class="form-group__input">
                </div>

                <input type="submit" class="btn-submit btn--brown" value="Pesquisar">
            </form>
        </div>
    </div>


{% endblock %}