{% extends 'index.html' %}
{% load static %}
{% block content %}

    <div class="product-model">
        <div class="container">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="{% url 'core:index' %}">Início</a></li>
                    <li class="active">Artesanatos</li>
                </ol>
            </div>
            <h2>Artesanatos</h2>
            <div class="col-md-9 product-model-sec">


                {% for artifact in artifacts %}
                    <a href="{% url 'artifacts:show_artifact_user' artifact.pk %}"><div class="product-grid">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="{{ artifact.photo }}" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="fa fa-file-text-o" aria-hidden="true"></span> Ver mais</button>
                                </h4>
                            </div>
                        </div>
                    </a>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h4>{{ artifact.name }}</h4>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    </div>
                {% endfor %}

        </div>
        <div class="rsidebar span_1_of_left">
            <section  class="sky-form">
                <div class="product_right">
                    <form action="?search=" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Artesanato">
                            <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Pesquisar</button>
                      </span>
                        </div>
                    </form>
                </div>
                <div class="product_right">
                    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Categorias</h4>
                    <div class="tab1">

                        {% for category in categories %}
                            <ul class="place">
                                <li class="sort"><a href="?order_by=categoria&order={{category.pk}}">{{ category.name }}</a></li>
                                <div class="clearfix"> </div>
                            </ul>
                        {% endfor %}

                    </div>
                </div>

                <div class="product_right">
                    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Sub Categorias</h4>
                    <div class="tab1">

                        {% for sub_category in sub_categories %}
                            <ul class="place">
                                <li class="sort"><a href="?order_by=sub_categoria&order={{sub_category.pk}}">{{ sub_category.name }}</a></li>
                                <div class="clearfix"> </div>
                            </ul>
                        {% endfor %}

                    </div>
                </div>

                <div class="product_right">
                    <h4 class="m_2"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>Materiais</h4>
                    <div class="tab1">

                        {% for material in materials %}
                            <ul class="place">
                                <li class="sort"><a href="?order_by=material&order={{material.pk}}">{{ material.name }}</a></li>
                                <div class="clearfix"> </div>
                            </ul>
                        {% endfor %}

                    </div>
                </div>

            </section>
        </div>
    </div>
    </div>

{% endblock %}