{% extends 'index.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

    <section class="ctn ctn--brown">
        <div class="flex@large">
            <div class="flex-ch flex-ch--half-wt">
                <h1 class="ctn__title ctn__title--artifact">
                    {{ artifact.name|capfirst }}
                </h1>
                <h2 class="ctn__subtitle">
                    Artesão: {{ artifact.artisan.name|title }}
                </h2>
                <div class="img img--centered@medium img--main">
                    <div class="img__bg img__bg--red">
                        <img class="img__file" src="{{ artifact.photo }}" data-imagezoom="true" alt=""/>
                    </div>
                </div>
            </div>
            <div class="flex-ch flex-ch--centered">
                <div class="card card--rt card--brown">
                    <div class="card__title">
                        <span>Descrição</span>
                    </div>
                    <div class="card__content">
                        {{ artifact.description }}
                    </div>
                </div>

                <div class="card card--lt card--rt@computer card--brown">
                    <div class="card__title">
                        <span>Informações</span>
                    </div>
                    <div class="card__content">
                        <span>Categoria: {{ artifact.subcategory.category.name }}</span>
                        <span>Subcategoria: {{ artifact.subcategory.name }}</span>
                        <span>Material: {{ artifact.material.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ctn ctn--red">


        <h3 class="ctn__title ctn__title--centered">
            Sobre o Artesão
        </h3>

        <div class="flex@large flex--column flex--centered">
            <div class="flex-ch">
                <div class="img img--centered">
                    <div class="img__bg img__bg--yellow">
                        <img class="img__file" src="{{ artifact.artisan.photo }}"
                             alt="foto de {{ artifact.artisan.name }}">
                    </div>
                </div>

                <div class="card card--full-width card--red card--centered card--rt@large">
                    <h2 class="card__title card__content">
                        {{ artifact.artisan.name|title }}
                    </h2>
                </div>

                <div class="card card--red card--centered">
                    <div class="card__content">
                        <p>
                            {{ artifact.artisan.biography }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-ch">
                <div class="line@medium">
                    <div class="card card--lt card--red">
                        <div class="card__title">
                            <span>Endereço</span>
                        </div>
                        <div class="card__content same-height@medium">
                            <span>{{ artifact.artisan.address.street }}, número {{ artifact.artisan.address.number }}</span>
                            <span>{{ artifact.artisan.address.neighborhood }}, {{ artifact.artisan.address.city }}</span>
                        </div>
                    </div>

                    <div class="card card--rt card--red">
                        <div class="card__title">
                            <span>Contato</span>
                        </div>
                        <div class="card__content">
                            <span>{{ artifact.artisan.email }}</span>
                            <span>{{ artifact.artisan.phone }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ctn ctn--blue">
        <h3 class="ctn__title ctn__title--centered">
            Comentários
        </h3>

        {% for comment in comments %}
            <div class="card card--blue card--comment card--centered">
                <div class="card__content">
                    <div class="comment__author">
                        {{ comment.name }}
                    </div>
                    <div class="comment__text">
                        {{ comment.comment }}

                    </div>
                    <div class="comment__date">
                        há {{ comment.created|timesince }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <h3 class="new-comment-title">
            Adicione um comentário
        </h3>

        <form method="POST">
            {% csrf_token %}
            {% for field in form_comment %}

                <div class="form-group">
                    <label class="form-group__label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% render_field field class="form-group__input" %}
                </div>

            {% endfor %}

            <input type="submit" class="submit-btn submit-btn--centered" value="Enviar Comentário">
        </form>
    </section>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>



{% endblock %}

{% block custom-js %}
    <script>
        {#        let pswpElement = document.querySelectorAll('.pswp')[0];#}
        {#        let items = [#}
        {#            {#}
        {#                src: document.getElementsByClassName("craft__img")[0].getAttribute("src"),#}
        {#                w: 600,#}
        {#                h: 400#}
        {#            },#}
        {#        ];#}
        {#        let options = {#}
        {#            // optionName: 'option value'#}
        {#            // for example:#}
        {#            index: 0 // start at first slide#}
        {#        };#}
        {##}
        {#        $(".craft__img").click(function () {#}
        {#            let gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);#}
        {#            gallery.init();#}
        {#        });#}
        {##}
        {##}
        {#        // build scene#}
        {#        let controller = new ScrollMagic.Controller();#}
        {#        let scene = new ScrollMagic.Scene({triggerElement: ".craft__img", duration: 700})#}
        {#        // animate color and top border in relation to scroll position#}
        {#            .setTween(".craft__img", {transform: "translateX(-30px)"}) // the tween durtion can be omitted and defaults to 1#}
        {#            .addIndicators({name: "2 (duration: 300)"}) // add indicators (requires plugin)#}
        {#            .addTo(controller);#}
    </script>



{% endblock %}