{% extends 'index.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}



    <div class="crafts-cnt">
        <h1 class="crafts-title">
            {{ artifact.name }}
        </h1>
        <h2 class="crafts-artisan">
            Artesão: {{ artifact.artisan.name }}
        </h2>
        <div class="crafts">
            <div class="crafts__bg">
                <img src="{{ artifact.photo }}" data-imagezoom="true" class="craft__img" alt=""/>
            </div>
        </div>

        <div class="description">
            <div class="description__title">
                <span>Descrição</span>
            </div>

            <div class="description__details">
                {{ artifact.description }}
            </div>
        </div>

        <div class="information">
            <div class="information__title">
                <span>Informações</span>
            </div>

            <div class="information__details">
                <span>Categoria: {{ artifact.subcategory.category.name }}</span>
                <span>Subcategoria: {{ artifact.subcategory.name }}</span>
                <span>Material: {{ artifact.material.name }}</span>
            </div>
        </div>
    </div>

    <div class="comments-ctn">
        <h3 class="comments-title">
            Comentários
        </h3>

        {% for comment in comments %}
            <div class="comment">
                <div class="comment__author">
                    {{ comment.name }}
                    {#                João#}
                </div>
                <div class="comment__text">
                    {{ comment.comment }}
                    {#                Lorem lorem muito lorem ipsum#}
                </div>

                <div class="comment__date">
                    {{ comment.created|timesince }} atrás
                </div>
            </div>
        {% endfor %}

        <h3 class="new-comment-title">
            Adicione um comentário
        </h3>

        <form method="POST">
            {% csrf_token %}
            {% for field in form_comment %}

                <div class="form-group">
                    <label class="form-group__label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% render_field field class="form-group__input" %}
                </div>

            {% endfor %}

            <input type="submit" class="submit-button" value="Enviar Comentário">
        </form>
    </div>

    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>



{% endblock %}

{% block custom-js %}
    <script>
        let pswpElement = document.querySelectorAll('.pswp')[0];
        let items = [
            {
                src: document.getElementsByClassName("craft__img")[0].getAttribute("src"),
                w: 600,
                h: 400
            },
        ];
        let options = {
            // optionName: 'option value'
            // for example:
            index: 0 // start at first slide
        };

        $(".craft__img").click(function () {
            let gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        });


        // build scene
        let controller = new ScrollMagic.Controller();
        let scene = new ScrollMagic.Scene({triggerElement: ".craft__img", duration: 700})
        // animate color and top border in relation to scroll position
            .setTween(".craft__img", {transform: "translateX(-30px)"}) // the tween durtion can be omitted and defaults to 1
            .addIndicators({name: "2 (duration: 300)"}) // add indicators (requires plugin)
            .addTo(controller);
    </script>



{% endblock %}