{% extends 'index.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}
    <div class="product">
        <div class="container">
            <div class="product-price1">
                <div class="top-sing">
                    <div class="col-md-7 single-top">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="{{ artifact.photo }}" style="list-style: none">
                                    <div class="thumb-image"><img src="{{ artifact.photo }}" data-imagezoom="true"
                                                                  class="img-responsive" alt=""/></div>
                                </li>
                            </ul>
                        </div>
                        <script src="{% static 'js/imagezoom.js' %}"></script>
                        <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>

                    </div>
                    <div class="col-md-5 single-top-in simpleCart_shelfItem">
                        <div class="single-para ">
                            <h4>Artesanato </h4>
                            <h5 class="item_price">{{ artifact.name }}</h5>
                            <p class="para">{{ artifact.description }}</p>
                            <div class="prdt-info-grid">
                                <ul>
                                    <li>- Artesão : {{ artifact.artisan.name }}</li>
                                    <li>- Categoria : {{ artifact.subcategory.category.name }}</li>
                                    <li>- Sub Categoria : {{ artifact.subcategory.name }} </li>
                                    <li>- Material : {{ artifact.material.name }}</li>
                                </ul>
                            </div>
                            <div class="check">
                                <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Cadastrado
                                    em: {{ artifact.created }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="product-price1">
                <div class="col-md-7 pull-left">
                    <div class="single-para ">
                        <h4>Artesão</h4>
                        <h5 class="item_price">{{ artifact.artisan.name }}</h5>
                        <p class="para"> {{ artifact.artisan.biography }} </p>
                        <div class="prdt-info-grid">
                            <ul>
                                <li>- Email : {{ artifact.artisan.email }} </li>
                                <li>- Telefone : {{ artifact.artisan.phone }} </li>
                                <li>- Estado : {{ artifact.artisan.address.state }}</li>
                                <li>- Cidade : {{ artifact.artisan.address.city }}</li>
                                <li>- Bairro : {{ artifact.artisan.address.neighborhood }}</li>
                                <li>- Rua : {{ artifact.artisan.address.street }},
                                    Nº {{ artifact.artisan.address.number }}
                                </li>

                            </ul>
                        </div>
                        <div class="check">
                            <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Cadastrado
                                em: {{ artifact.artisan.created }}</p>
                        </div>
                    </div>

                    <div>
                        {% for comment in comments %}
                            {{ comment.name }}
                            {{ comment.comment }}
                        {% endfor %}

                    </div>

                    <!-- COMMENTS -->
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}

                        {% for field in form_comment %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                <div class="col-sm-10">
                                    {% render_field field class="form-control" %}
                                </div>
                            </div>
                        {% endfor %}




                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="submit" value="Enviar Comentário">
                            </div>
                        </div>

                    </form>

                </div>

                <div class="col-md-5 pull-right">
                    <a href="#">
                        <img src="{{ artifact.artisan.photo }}" alt="Usuário" class="img-responsive thumbnail"
                             style="margin: 0 auto;">
                    </a>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="bottom-prdt">
                <h4>Artesanatos Relacionados</h4>
                <div class="clearfix"></div>

                <div class="btm-grid-sec">

                    {% for related_artifact in related_artifacts %}
                        <a href="{% url 'artifacts:show_artifact_user' related_artifact.pk %}">
                            <div class="product-grid">
                                <div class="more-product"><span> </span></div>
                                <div class="product-img b-link-stripe b-animate-go  thickbox">
                                    <img src="{{ related_artifact.photo }}" class="img-responsive" alt="">
                                    <div class="b-wrapper">
                                        <h4 class="b-animate b-from-left  b-delay03">
                                            <button><span class="fa fa-file-text-o" aria-hidden="true"></span> Ver mais
                                            </button>
                                        </h4>
                                    </div>
                                </div>
                        </a>
                        <div class="product-info simpleCart_shelfItem">
                            <div class="product-info-cust prt_name">
                                <h4>{{ related_artifact.name }}</h4>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        </div>
                    {% endfor %}


                <div class="clearfix"></div>
            </div>

        </div>
    </div>

{% endblock %}