html, body, h1, h2, h3, h4, h5, h6 {
  overflow-x: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: subpixel-antialised;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

body {
  position: relative; }

a, a:hover {
  color: white;
  text-decoration: none; }

* {
  word-wrap: break-word; }

@media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
  .ctn {
    padding: 0.75em 1em 2.55em 1em; } }

@media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
  .ctn {
    padding: 0.75em 3em 2.55em 3em; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ctn {
    padding: 0.75em 3em 2.55em 3em; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .ctn {
    padding: 0.75em 3em 2.55em 3em; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .ctn {
    padding: 0.75em 3em 2.55em 3em; } }

@media (min-width: 1200px) {
  .ctn {
    padding: 0.75em 3em 2.55em 3em; } }

.ctn__title {
  font-size: 1.875em; }
  .ctn__title--centered {
    text-align: center; }

.ctn--brown {
  background: #3B2724; }

.ctn--red {
  background: #600E1C; }

.ctn--blue {
  background: #01A698; }

.header {
  background: #fff;
  padding: 1.5625em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo {
  font-size: 2.0625rem;
  color: #000000;
  font-weight: bold; }

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2.625em;
  width: 3.05em;
  position: relative;
  z-index: 101; }
  .menu-btn__rect {
    width: 100%;
    height: 20%;
    background: red;
    border-radius: 1.25em; }
    .menu-btn__rect--diag {
      background: #fff;
      position: absolute;
      will-change: width;
      width: 0;
      opacity: 0;
      border-radius: 0.625em; }
      .menu-btn__rect--diag:nth-child(4) {
        transform: rotate(45deg);
        transform-origin: left top 0;
        top: 0;
        left: 11px; }
      .menu-btn__rect--diag:nth-child(5) {
        transform: rotate(-45deg);
        transform-origin: left bottom 0;
        top: 32px;
        left: 13px; }

.menu {
  position: fixed;
  width: 100%;
  height: 80%;
  background: #600E1C;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scaleY(0);
  transform-origin: center bottom 0;
  -webkit-box-shadow: 0px -12px 13px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px -12px 13px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px -12px 13px 0px rgba(0, 0, 0, 0.28);
  will-change: transform; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .menu {
      height: 75%; } }

.menu__group {
  position: relative;
  z-index: 101;
  margin-left: 2em; }
  @media (min-width: 0px) and (max-width: 480px) and (orientation: landscape) {
    .menu__group {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: space-evenly; } }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .menu__group {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      justify-content: space-evenly; } }

.menu__item {
  font-size: 2.5rem;
  margin: 1em 0;
  opacity: 0;
  will-change: transform;
  list-style: none; }
  @media (min-width: 0px) and (max-width: 480px) and (orientation: landscape) {
    .menu__item {
      font-size: 1.8rem;
      margin: 0.9em 0; } }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .menu__item {
      margin: 0.6em 1em; } }

.menu__bg {
  position: fixed;
  top: 0;
  left: 0;
  background: #01A698;
  height: 40%;
  width: 100%;
  z-index: 100;
  transform: scaleY(0);
  transform-origin: center top 0;
  will-change: transform; }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .img--centered:medium {
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .img--centered:medium {
    text-align: center; } }

.img__bg {
  padding: 0.6em;
  display: inline-block; }
  .img__bg--red {
    background: #72403b;
    background: -moz-linear-gradient(left, #72403b 0%, #e68273 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #72403b), color-stop(100%, #e68273));
    background: -webkit-linear-gradient(left, #72403b 0%, #e68273 100%);
    background: -o-linear-gradient(left, #72403b 0%, #e68273 100%);
    background: -ms-linear-gradient(left, #72403b 0%, #e68273 100%);
    background: linear-gradient(to right, #72403b 0%, #e68273 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#72403b', endColorstr='#e68273', GradientType=1); }
  .img__bg--yellow {
    background: #a38b61;
    background: -moz-linear-gradient(left, #a38b61 0%, #bfa371 30%, #ffdb95 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #a38b61), color-stop(30%, #bfa371), color-stop(100%, #ffdb95));
    background: -webkit-linear-gradient(left, #a38b61 0%, #bfa371 30%, #ffdb95 100%);
    background: -o-linear-gradient(left, #a38b61 0%, #bfa371 30%, #ffdb95 100%);
    background: -ms-linear-gradient(left, #a38b61 0%, #bfa371 30%, #ffdb95 100%);
    background: linear-gradient(to right, #a38b61 0%, #bfa371 30%, #ffdb95 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a38b61', endColorstr='#ffdb95', GradientType=1); }

.img__file {
  will-change: transform;
  max-width: 70vw;
  transform: translate(-17px, -16px);
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.29); }

.img--main .img__file {
  cursor: pointer; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .img--main .img__file {
      max-width: 60vw; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .img--main .img__file {
      max-width: 50vw; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .img--main .img__file {
      max-width: 50vw; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .img--main .img__file {
      max-width: 35vw; } }
  @media (min-width: 1200px) {
    .img--main .img__file {
      max-width: 35vw; } }

.card--brown .card__content {
  background: #513533; }

.card--red .card__content {
  background: #BF1734; }

.card--blue .card__content {
  background: #03D8BE; }

.card--rt {
  text-align: right; }
  .card--rt .card__content {
    max-width: 17.8125em; }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .card--rt .card__content {
        max-width: 22.8125em; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .card--rt .card__content {
        max-width: 22.8125em; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .card--rt .card__content {
        max-width: 25.8125em; } }
    @media (min-width: 1200px) {
      .card--rt .card__content {
        max-width: 25.8125em; } }

.card--lt {
  text-align: left; }
  .card--lt .card__content {
    max-width: 17.8125em; }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .card--lt .card__content {
        max-width: 22.8125em; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .card--lt .card__content {
        max-width: 22.8125em; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .card--lt .card__content {
        max-width: 25.8125em; } }
    @media (min-width: 1200px) {
      .card--lt .card__content {
        max-width: 25.8125em; } }

.card__title {
  font-size: 1.5625em;
  font-weight: bold; }

.card__content {
  height: 100%;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.11); }
  .card__content * {
    display: block; }

.card--comment .card__content {
  display: block; }

.comment__author {
  font-size: 1.25rem;
  margin-bottom: 0.3125em; }

.comment__text {
  margin-bottom: 1.25em; }

.comment__date {
  font-style: italic;
  text-align: right;
  font-size: 0.75rem; }

.form-group__label {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 0.3125em; }

.form-group__input {
  font-family: "Arvo", serif;
  padding: 0.3125em 0 0.3125em 0.1875em;
  font-size: 1rem;
  display: block;
  border: none;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.21); }

textarea.form-group__input {
  width: 100%;
  height: 8.75em; }

.submit-btn {
  background: #03D8BE;
  font-size: 1.125rem;
  font-family: "Arvo", serif;
  color: #fff;
  border-radius: 1.1875em;
  border: none;
  padding: 0.6em 2em;
  display: block;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.26); }

.ctn__title {
  margin: 1em 0; }
  .ctn__title--artifact {
    margin-bottom: 0; }

.ctn__subtitle {
  margin-bottom: 2em; }

.ctn--padded {
  padding: 1em; }

.img {
  margin-top: 1.25em; }
  .img--centered {
    text-align: center; }

.card {
  margin-top: 2em; }
  .card__content {
    padding: 1em 2em; }
  .card--centered {
    text-align: center; }
  .card--comment .card__content {
    text-align: left; }
  .card--lt:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) {
    text-align: left; }
    .card--lt:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) .card__content {
      margin-top: 0.625em;
      margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .card--lt\@mobile {
      text-align: right; }
      .card--lt\@mobile .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .card--lt\@mobile {
      text-align: right; }
      .card--lt\@mobile .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .card--lt\@mobile {
      text-align: right; }
      .card--lt\@mobile .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card--lt\@mobile {
      text-align: right; }
      .card--lt\@mobile .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .card--lt\@computer {
      text-align: left; }
      .card--lt\@computer .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 1200px) {
    .card--lt\@computer {
      text-align: left; }
      .card--lt\@computer .card__content {
        margin-top: 0.625em;
        margin-left: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  .card--rt:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) {
    text-align: right; }
    .card--rt:not(.card--rt\@mobile):not(.card--rt\@computer):not(.card--lt\@mobile):not(.card--lt\@computer) .card__content {
      margin-top: 0.625em;
      margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .card--rt\@mobile {
      text-align: right; }
      .card--rt\@mobile .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .card--rt\@mobile {
      text-align: right; }
      .card--rt\@mobile .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .card--rt\@mobile {
      text-align: right; }
      .card--rt\@mobile .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .card--rt\@mobile {
      text-align: right; }
      .card--rt\@mobile .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .card--rt\@computer {
      text-align: right; }
      .card--rt\@computer .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }
  @media (min-width: 1200px) {
    .card--rt\@computer {
      text-align: right; }
      .card--rt\@computer .card__content {
        margin-top: 0.625em;
        margin-right: -(small: 1em, small-l: 3em, medium: 3em, medium-l: 3em, large: 3em, x-large: 3em); } }

.flex {
  display: flex; }
  .flex--column {
    flex-direction: column; }
  .flex--centered {
    align-items: center; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .flex\@large {
      display: flex; } }
  @media (min-width: 1200px) {
    .flex\@large {
      display: flex; } }

.f--centered {
  align-self: center; }

.wt--half {
  width: 50%; }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
    .wt--half\@mobile {
      width: 50%; } }
  @media (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
    .wt--half\@mobile {
      width: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .wt--half\@mobile {
      width: 50%; } }
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .wt--half\@mobile {
      width: 50%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .wt--half\@computer {
      width: 50%; } }
  @media (min-width: 1200px) {
    .wt--half\@computer {
      width: 50%; } }
